<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>survey</title>
</head>
<body>

<form  action="#" method="post">
<p>Name</p>
<label><input type="text" placeholder="Please input your name" name="name"></label>
<br>

<label><input type="checkbox"
              name="selection[]"
              value="This midterm is easy">
    This midterm is easy
</label><br>
<label><input type="checkbox"
              name="selection[]"
              value="I like midterms">
    I like midterms
</label><br>
<label><input type="checkbox"
              name="selection[]"
              value="Today is Monday">
    Today is Monday
</label><br>

<input type="submit" value="Submit">
</form>

</body>
</html>