<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>survey</title>
</head>
<body>

<p>Name</p>
<label><input type="text" placeholder="Please input your name" name="name"></label>
<br>

<label><input type="checkbox"
              name="conds"
              value="easy">
    This midterm is easy
</label><br>
<label><input type="checkbox"
              name="conds"
              value="like">
    I like midterms
</label><br>
<label><input type="checkbox"
              name="conds"
              value="monday">
    Today is Monday
</label><br>

<div>
    <input type="submit" value="Submit">
</div>

</body>
</html>